{% extends 'base.html.twig' %}

{% block title %}Cliente index{% endblock %}

{% block body %}
    <h1>Cliente index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Edad</th>
                <th>PrimerNombre</th>
                <th>SegundoNombre</th>
                <th>PrimerApellido</th>
                <th>SegundoApellido</th>
                <th>FechaNacimiento</th>
                <th>FechaCreacion</th>
                <th>FechaActualizacion</th>
                <th>Telefono</th>
                <th>Celular</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.id }}</td>
                <td>{{ cliente.edad }}</td>
                <td>{{ cliente.primerNombre }}</td>
                <td>{{ cliente.segundoNombre }}</td>
                <td>{{ cliente.primerApellido }}</td>
                <td>{{ cliente.segundoApellido }}</td>
                <td>{{ cliente.fechaNacimiento ? cliente.fechaNacimiento|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ cliente.fechaCreacion ? cliente.fechaCreacion|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ cliente.fechaActualizacion ? cliente.fechaActualizacion|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ cliente.telefono }}</td>
                <td>{{ cliente.celular }}</td>
                <td>
                    <a href="{{ path('app_cliente_show', {'id': cliente.id}) }}">show</a>
                    <a href="{{ path('app_cliente_edit', {'id': cliente.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cliente_new') }}">Create new</a>
{% endblock %}
