{% extends 'base.html.twig' %}

{% block title %}Página Principal{% endblock %}

{% block body %}
<style>
    .addcolorDireccion {
        padding: 10px 0px 10px 0px;
        background: #ffffff;
        border-top: solid;
        border-color: #a5e5ff;
    }

    .oculto {
        display: none;
    }

    .tab_datos {
        background-color: #039be5 !important;
    }
    .texto {
        display: block;
        -webkit-text-stroke: thin;
        background-color: #ebebeb;
        border-radius: 5px;
        margin: 10px;
    }
    .items_show {
        border-radius: 5px;
        background-color: #d4f4ff;
        border: #53dbff;
        border-width: 1px;
        border-style: outset;
    }
    .item_multiple{
        
    }


</style>
<div class="card ">
    <div class="card-header tab_datos">
        <h3 class="card-title">Tabla de ingreso de empleados</h3>
    </div>
    <div class="card-body ">
        <div class="row col-md-12">

            <div class="col-lg-3 col-md-3">
                <span id="verLista" class="btn btn-info col button_func dz-clickable">
                    <i class="nav-icon fas fa-th"></i>
                    <span>Lista de clientes</span>
                </span>
            </div>
            <div class="col-lg-3 col-md-3">
                <span id="verFormCliente" class="btn btn-success col button_func dz-clickable">
                    <i class="fas fa-plus"></i>
                    <span>Agregar cliente</span>
                </span>
            </div>
            <div class="col-lg-3 col-md-3">
                <span id="descargarCsv" class="btn btn-primary col button_func dz-clickable">
                    <i class="fa fa-download"></i>
                    <span>Descargar CSV</span>
                </span>
            </div>
            <div class="col-lg-3 col-md-3">
                <span id="descargarTxt" class="btn btn-secondary col button_func dz-clickable">
                    <i class="fa fa-download"></i>
                    <span>Descargar txt</span>
                </span>
            </div>
        </div>
    </div>

    <!-- /.card-header -->
    <div class="card-body" id="listado">
        <!-- SidebarSearch Form  // form-inline sidebar-search-open  -->
        <!-- SidebarSearch Form -->
       <div class="row col-md-12">
            <div class="col-md-4">
                <div class="col-sm-12 col-md-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                        <ul class="pagination">
                            <li class="paginate_button page-item previous " id="example1_previous"><a href="#"
                                    aria-controls="example1" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
                            <li class="paginate_button page-item active">
                                <a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0" class="page-link iterable">1
                                </a>
                            </li>
                            <li class="paginate_button page-item ">
                                <a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0" class="page-link iterable">2
                                </a>
                            </li>
                            <li class="paginate_button page-item ">
                                <a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0" class="page-link iterable">3
                                </a>
                            </li>
                            <li class="paginate_button page-item next " id="example1_next"><a href="#" aria-controls="example1"
                                    data-dt-idx="2" tabindex="0" class="page-link">Next</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <input id="autoComplete_nombre">
            </div>
            <div class="col-md-4">
                
            </div>
       </div>

        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Documento</th>
                    <th>Direccion</th>
                    <th>Teléfono</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
            <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Documento</th>
                    <th>Direccion</th>
                    <th>Teléfono</th>
                    <th>Acciones</th>
                </tr>
            </tfoot>
        </table>

    </div>
    <div class="card-body oculto" id="show">
       

        <div class="card card-warning">
            <div class="card-header">
                <h3 class="card-title">
                    Datos del cliente
                </h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6 items_show">
                        <div class="col-md-12">
                            <label for="primerNombre">Primer nombre</label>
                            <label id="primerNombre_sh" class="texto"> </label>
                        </div>
                    </div>
                    <div class="col-sm-6 items_show">
                        <div class="col-md-12">
                            <label for="segundoNombre">Segundo nombre</label>
                            <label id="segundoNombre_sh" class="texto"> </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 items_show">
                        <div class="col-md-12">
                            <label for="primerApellido">Primer apellido</label>
                            <label id="primerApellido_sh" class="texto"> </label>
                        </div>
                    </div>
                    <div class="col-sm-6 items_show">
                        <div class="col-md-12">
                            <label for="segundoApellido">Segundo apellido</label>
                            <label id="segundoApellido_sh" class="texto"></label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 items_show">
                        <div class="col-md-12">
                            <label>fecha:</label>
                            <label id="fechaNacimiento_sh" class="texto" type="text"></label>
                        </div>
                    </div>
                    <div class="col-sm-6 items_show">
                        <div class="col-md-12">
                            <label>Sexo</label>
                            <label id="idSexo_sh" class="texto"></label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 items_show">
                        <div class="col-md-12">
                            <label for="telefono">Teléfono</label>
                            <label id="telefono_sh" class="texto"></label>
                        </div>
                    </div>
                    <div class="col-sm-6 items_show">
                        <div class="col-md-12">
                            <label for="celular">celular</label>
                            <label id="celular_sh" class="texto"></label>
                        </div>
                    </div>
                </div>


                <div class="row col-md-12">
                    <div class="row col-md-6 item_multiple" >
                        <div class="row col-md-12 card-header" style="max-height: 47px;">
                            <h3 class="card-title">
                                Direcciones
                            </h3>
                        </div>
                        <div class="row col-md-12" id="show_idDireccion" style="min-height: 100%;">
                            
                        </div>
                    </div>
    
    
                    <div class="row col-md-6 item_multiple" >
                        <div class="row col-md-12 card-header" style="max-height: 47px;">
                            <h3 class="card-title">
                                Documentos de identidad
                            </h3>
                        </div>
                        <div class="row col-md-12" id="show_idDocumentos" style="min-height: 100%;">
                            
                        </div>
                    </div>
                </div>

                <div class="row col-md-12" style="margin-top: 20px;">
                    <div class="row col-md-6 item_multiple" >
                        <div class="row col-md-12 card-header" style="max-height: 47px;">
                            <h3 class="card-title">
                                Correos
                            </h3>
                        </div>
                        <div class="row col-md-12" id="show_correos" style="min-height: 100%;">
                            
                        </div>
                    </div>
    
    
                    <div class="row col-md-6 item_multiple" >
                        <div class="row col-md-12 card-header" style="max-height: 47px;" >
                            <h3 class="card-title">
                                Otros Documentos
                            </h3>
                        </div>
                        <div class="row col-md-12" id="show_otrosDocumentos" style="min-height: 100%;">
                            
                        </div>
                    </div>
                </div>

                





            </div>
        </div>






    </div>

    <!-- /.card-body -->
    <div class="card-body oculto" id="formulario">
        <div class="card card-warning">
            <div class="card-header">
                <h3 class="card-title">Formulario para el ingreso de clientes </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <form id="saveForm">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="primerNombre">Primer nombre</label>
                                <input type="text" name="primerNombre" required class="form-control"
                                    placeholder="Ingrese su nombre" maxlength="35" minlength="3">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="segundoNombre">Segundo nombre</label>
                                <input type="text" name="segundoNombre" class="form-control"
                                    placeholder="Ingrese su segundo nombre" maxlength="35" minlength="3">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="primerApellido">Primer apellido</label>
                                <input type="text" name="primerApellido" required class="form-control"
                                    placeholder="Ingrese su primer apellido" maxlength="35" minlength="3">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="segundoApellido">Segundo apellido</label>
                                <input type="text" name="segundoApellido" class="form-control"
                                    placeholder="Ingrese su segundo nombre" maxlength="35" minlength="3">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">

                            <div class="form-group">
                                <label>Fecha de nacimiento</label>
                                <div class="input-group date" data-target-input="nearest">
                                    <input required name="fechaNacimiento" type="text" id="fecha_nacimiento"
                                        class="form-control datetimepicker-input" data-target="#fecha_nacimiento">
                                    <div class="input-group-append" data-target="#fecha_nacimiento"
                                        data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Sexo</label>
                                <select name="idSexo" required class="form-control">
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="telefono">Teléfono</label>
                                <input type="text" name="telefono" required class="form-control"
                                    placeholder="Ingrese teléfono" maxlength="12" minlength="5">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="celular">celular</label>
                                <input type="text" name="celular" required class="form-control"
                                    placeholder="Ingrese su celular" maxlength="12" minlength="5">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card card-info">
                                <div class="card-header">
                                    <h3 class="card-title">Direcciones</h3>
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <button id="addDireccion" class="btn btn-primary idDireccion_mto"
                                            type="button">+</button>
                                    </div>
                                    <div class="form-group addcolorDireccion " id="item_direcciones">
                                        <div class="row col-md-12">
                                            <div class="col-md-12 col-sm-12">
                                                <label for="idDireccion[0][descripcion]">Descricion</label>
                                                <input required name="idDireccion[0][id]" class="id_section_edit oculto"
                                                    type="number">
                                                <textarea required type="textarea" minlength="10" maxlength="100"
                                                    class="form-control" name="idDireccion[0][descripcion]"
                                                    placeholder="Dirección"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 form-group">
                                            <label for="documentos[0][idDocumento]">Municipio</label>
                                            <select id="idMunicipio" required class="form-control"
                                                name="idDireccion[0][municipio]" placeholder="Ingrese el municipio">
                                            </select>
                                        </div>
                                    </div>
                                </div>



                            </div>
                            <div class="card card-success">
                                <div class="card-header">
                                    <h3 class="card-title">Correos</h3>
                                </div>
                                <div class="card-body" id="items_correos">
                                    <div class="form-group ">
                                        <div class="row form-group">
                                            <div class="col-md-10 col-sm-10">
                                                <input required name="correos[0][id]" class="id_section_edit oculto"
                                                    type="number">
                                                <input type="email" class="form-control" name="correos[0][email]"
                                                    placeholder="Email">
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <button id="addCorreo" class="btn btn-primary correos_mto"
                                                    type="button">+</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>


                        <div class="col-sm-6">
                            <div class="card card-danger">
                                <div class="card-header">
                                    <h3 class="card-title">Documentos de identidad</h3>
                                </div>
                                <div class="card-body" id="items_documentos">
                                    <div class="form-group">
                                        <button id="addDocumentoNormal" class="btn btn-primary documentos_mto"
                                            type="button">+</button>
                                    </div>

                                    <div class="form-group" id="itemDocumentos">
                                        <div class="row col-md-12">
                                            <div class="col-md-6 col-sm-12">
                                                <label for="documentos[0][numero]">Número</label>
                                                <input required name="documentos[0][id]" class="id_section_edit oculto"
                                                    type="number">
                                                <input required type="text" class="form-control"
                                                    name="documentos[0][numero]" placeholder="Documento">
                                            </div>
                                            <div class="col-md-6 col-sm-12 form-group">
                                                <label for="documentos[0][idDocumento]">Tipo</label>
                                                <select required id="idDocumento" required class="form-control"
                                                    name="documentos[0][idDocumento]" placeholder="tipo de documento">
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Otros tipos de documentos</h3>
                                </div>
                                <div class="card-body" id="items_otros_documentos">
                                    <div class="row form-group ">
                                        <label>Agregue otros tipos de documentos (OPCIONAL)</label>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-5 col-sm-5">
                                            <label>Número</label>
                                        </div>
                                        <div class="col-md-5 col-sm-5">
                                            <label>Tipo de documento</label>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <div class="row form-group inicia_docuentos_extra">
                                            <div class="col-md-5 col-sm-5">
                                                <input required type="text" class="form-control documentos_extra_1"
                                                    placeholder="Documento">
                                            </div>
                                            <div class="col-md-5 col-sm-5">
                                                <input required type="text" class="form-control documentos_extra_2"
                                                    placeholder="Tipo">
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <button class="btn btn-primary" id="addOtrosDocumento"
                                                    type="button">+</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <button id="btnSaveForm" class="btn btn-primary">Guardar</button>
                                <button id="btnCancelar" class="btn btn-danger">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.card-body -->


        </div>
    </div>
    
</div>


{% endblock %}

{% block javascripts_inferiones %}
<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="../../plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="../../plugins/jszip/jszip.min.js"></script>
<script src="../../plugins/pdfmake/pdfmake.min.js"></script>
<script src="../../plugins/pdfmake/vfs_fonts.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<script src="../../dist/js/adminlte.min.js"></script>
<script src="../../plugins/select2/js/select2.full.min.js"></script>
<script src="../../plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
<script src="../../plugins/moment/moment.min.js"></script>
<script src="../../plugins/inputmask/jquery.inputmask.min.js"></script>
<script src="../../plugins/daterangepicker/daterangepicker.js"></script>
<script src="../../plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
<script src="../../plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<script src="../../plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
<script src="../../plugins/bs-stepper/js/bs-stepper.min.js"></script>
<script src="../../plugins/dropzone/min/dropzone.min.js"></script>
<script type="text/javascript" src="../../jquery.serialize-object.min.js"></script>
<script src="../../plugins/toastr/toastr.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/autoComplete.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/json2csv"></script>

<script>
    $(function () {

        var search = document.getElementById('autoComplete_nombre');

        var tableElements = document.querySelectorAll(".page-link");
        tableElements.forEach(function (element) {
            element.addEventListener("click", function (event) {
                barrPagination(event.srcElement);
            });
        });

        function barrPagination(evento) {
            var tableElements = document.querySelectorAll(".iterable");
            var active_page = parseInt(document.getElementsByClassName('pagination')[0].getElementsByClassName('active')[0].getElementsByTagName('A')[0].innerText)


            var filter = `?nombre_o_dui=${search.value}`
            if (active_page == 1 && evento.innerText == 'Previous') return;
            if (evento.innerText == 'Next') {
                var sumar = 1
                active_page = active_page + sumar
                var tableAjax = $('#example1').DataTable();
                tableAjax.ajax.url('/api_v3/cliente/' + active_page + filter).ajax.reload(null, true);
            } else if (evento.innerText == 'Previous') {
                var sumar = -1
                active_page = active_page + sumar
                var tableAjax = $('#example1').DataTable();
                tableAjax.ajax.url('/api_v3/cliente/' + active_page + filter).ajax.reload(null, true);
            } else if (evento.innerText == '-') {
                return 0
            } else {
                document.getElementsByClassName('pagination')[0].getElementsByClassName('active')[0].classList.remove('active')
                active_page = parseInt(evento.innerText)
                var tableAjax = $('#example1').DataTable();
                tableAjax.ajax.url('/api_v3/cliente/' + active_page + filter).ajax.reload(null, true);
                tableElements[0].innerText = active_page - 1
                tableElements[1].innerText = active_page
                tableElements[2].innerText = active_page + 1

                tableElements[1].parentElement.classList.add('active')
                if (active_page - 1 < 1) {
                    tableElements[0].innerText = '-'
                }
                return
            }

            var bandera = true
            tableElements.forEach(function (element, index) {
                if (element.parentElement.classList.contains('active')) {
                    if (sumar == 1 && bandera && index < tableElements.length - 1) {
                        bandera = false
                    }
                    if (sumar == -1 && bandera && index > 0) {
                        bandera = false
                    }
                }

                element.innerText = parseInt(element.innerText == '-' ? 0 : element.innerText) + sumar
            });
        }

        $("#example1").DataTable({
            "pageLength": 5,
            "responsive": true, "lengthChange": false, "autoWidth": false, "paging": false, "searching": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print"], "ordering": false,
            "ajax": {
                "url": "/api_v3/cliente/1",
                "dataSrc": function (json) {
                    var json2 = { data: [] };
                    Object.entries(json).forEach(([key, value]) => {

                        var jsonp = JSON.parse(value.documentos)
                        var jsonpd = JSON.parse(value.direcciones)

                        var documento = jsonp.length == 0 ? '' :
                            function () {
                                var documentos = '';
                                Object.entries(jsonp).forEach(([key, value]) => {
                                    (
                                        documentos += value.id_documento_id == '1' ?
                                            '/ dui:' + value.numero :
                                            (
                                                value.id_documento_id == '2' ?
                                                    '/ nit:' + value.numero :
                                                    '/ otro: ' + value.numero
                                            )

                                    )
                                });
                                return documentos
                            }
                        var direccion = jsonpd.length == 0 ? '' : jsonpd[0].descripcion
                        console.log(value.activo);
                        var linea = {
                            nombre: `${value.primerapellido} ${value.segundoapellido} ${value.primernombre} ${value.segundonombre} `,
                            documento: documento,
                            direccion: direccion,
                            telefono: `${value.celular == null ? '' : value.celular}`,
                            
                            acciones: `<div class="btn-group btn-group-sm">
                                                <a href="#" class="btn btn-info botones_ver" data-id="${value.id}" >
                                                    <i class="fas fa-eye" data-id="${value.id}" >
                                                    </i>
                                                </a>
                                                
                                                ${
                                                    value.activo==null || value.activo ==false ?
                                                    `
                                                        <a href="#" class="btn btn-danger tab_datos botones_activar" data-id="${value.id}" >
                                                            <i class="fas fa fa-recycle " data-id="${value.id}">
                                                            </i>
                                                        </a>`:
                                                    `
                                                        <a href="#" class="btn btn-danger botones_inactivar" data-id="${value.id}" >
                                                            <i class="fas fa-trash" data-id="${value.id}">
                                                            </i>
                                                        </a>
                                                    `
                                                }
                                                
                                                <a href="#" data-id="${value.id}" class="btn btn-success botones_editar">
                                                    <i class="fas fa-pen" data-id="${value.id}">
                                                    </i>
                                                </a>
                                            </div>
                                        `,
                            id: value.id
                        }
                        json2.data.push(linea);
                    });
                    return json2.data; //json.data;
                }
            },
            "columns": [
                { "data": "id" },
                { "data": "nombre" },
                { "data": "documento" },
                { "data": "direccion" },
                { "data": "telefono" },
                { "data": "acciones" },
            ],
            "drawCallback": function (settings, json) {
                crearEventosTabla();
            }
        }).buttons()
            .container()
            .appendTo('#example1_wrapper .col-md-6:eq(0)');



        /* logica de guardado de datos de clientes */

        window.modo = 'POST'
        window.id = ''
        //Date picker
        $('#fecha_nacimiento').datetimepicker({
            format: 'L',
            maxDate: new Date()
        });

        document.getElementById("btnSaveForm").onclick = function (event) {
            event.preventDefault();
            saveClient();
        };

        function limpiar_html_renderizados() {
            var clones = document.getElementsByClassName('item_clon');
            Array.from(clones).forEach(function (item) {
                item.remove();
            });
            document.getElementById('saveForm').reset()
        }

        function saveClient() {
            var form_validar = document.getElementById('saveForm')
            var form_data = $('#saveForm').serializeObject()
            form_data.otrosDocumentos = obtener_documentos_extra_json()

            if (window.method == 'POST') { //  en caso de crear 
                readOnlyDiabledEdit()
            }
            if (window.method == 'PUT') { // en caso de edicion
                no_readOnlyDiabledEdit()
            }
            form_data = JSON.stringify(form_data);
            if (form_validar.reportValidity()) {
                window.id = window.id != '' && window.id != null ? '/' + window.id : '';
                $.ajax({
                    url: 'api/clientes' + window.id,
                    type: window.modo,
                    headers: {
                    },
                    data: form_data, //transforma los datos en una cadena y se mandan al servidor para que esto los reciva
                    contentType: 'application/json',
                    success: function (data) {

                        limpiar_html_renderizados()
                        if (window.modo == 'PUT') {
                            window.modo = 'POST'
                            window.id = ''
                            cargar_data_page(search.value , 'nombre_o_dui' )
                            toastr.success('Datos Editados exitosamente')
                        } else {
                            toastr.success('Datos guardados exitosamente')
                        }

                    },
                    error: function (err) {
                        console.log(err)
                        toastr.error('Hubo un error al guardar la informacion: ')
                    },
                    complete: function (xhr, status) {

                    }
                });
            }
        }

        llenarSelects('api/sexos', 'nombre', 'idSexo');
        llenarSelects('api/documentos', 'nombre', 'idDocumento');
        llenarSelects('api/municipios', 'nombreCompuesto', 'idMunicipio');

        function llenarSelects(finalPoint, nameLabel, name) {
            var datos = request(finalPoint, 'GET', nameLabel, name);
        }

        function rellenar(datos, nameLabel, name, finalPoint) {
            var select = document.getElementsByName(name)[0]
            if (select == null) {
                select = document.getElementById(name)
            }
            select.innerHTML += `<option value=''>Seleccione</option>`
            Object.entries(datos).forEach(([key, value]) => {
                select.setAttribute('data-finalpoint', finalPoint);
                select.innerHTML += `<option value="/${finalPoint}/${value.id}"> ${value[nameLabel]}</option>`
            });
        }
        
        function request(finalPoint, method, nameLabel, name) {
            $.ajax({
                url: finalPoint,
                type: method,
                headers: {
                    'Content-Type': 'application/json'
                },
                data: {}, //transforma los datos en una cadena y se mandan al servidor para que esto los reciva
                contentType: 'application/json',
                success: function (data) {
                    rellenar(data, nameLabel, name, finalPoint)
                },
                error: function (err) {
                    console.log(err)
                    toastr.error('Hubo un error al recibir la informacion: ')
                },
                complete: function (xhr, status) {
                }
            });
        }

        function calculateAge(birthday) {
            var birthday_arr = birthday.split("/");
            var birthday_date = new Date(birthday_arr[2], birthday_arr[1] - 1, birthday_arr[0]);
            var ageDifMs = Date.now() - birthday_date.getTime();
            var ageDate = new Date(ageDifMs);
            return Math.abs(ageDate.getUTCFullYear() - 1970);
        }
        //var age = calculateAge(fecha.value); // document.getElementById('fecha_nacimiento')

        document.getElementById("addCorreo").onclick = function (event) {
            event.preventDefault();
            var cantidadCorreos = document.getElementsByClassName('correos_id').length + 1;
            var campo = `
                    <div class="form-group correos_id item_clon" id="items_correos_${cantidadCorreos}">
                        <div class="row form-group">
                            <div class="col-md-10 col-sm-10">
                                <input required name="correos[${cantidadCorreos}][id]" class="id_section_edit oculto" type="number">
                                <input type="email" class="form-control" name="correos[${cantidadCorreos}][email]" placeholder="Email">
                            </div>
                            <div class="col-md-2 col-sm-2">
                                <button onclick=" document.getElementById('items_correos_${cantidadCorreos}').remove()" class="btn btn btn-danger" type="button">-</button>
                            </div>
                        </div>
                    </div>
                `
            var campo_uno = document.getElementById('items_correos');
            campo_uno.insertAdjacentHTML('beforeend', campo)
            deshabilitar_campo_id_edicion();
        };

        document.getElementById("addDocumentoNormal").onclick = function (event) {
            event.preventDefault();
            var cantidadDocumentos = document.getElementsByClassName('item_tipoDocumento').length + 1;
            var opciones = document.getElementsByName('documentos[0][idDocumento]')[0].innerHTML;
            var finalpoint = document.getElementsByName('documentos[0][idDocumento]')[0].dataset.finalpoint;


            var campo = `
                        <div class="form-group item_tipoDocumento item_clon" id="documento_itm_${cantidadDocumentos}">
                            <div class="row col-md-12">
                                <div class="col-md-6 col-sm-12">
                                    <label for="documentos[0][numero]">Número</label>
                                    <input required name="documentos[${cantidadDocumentos}][id]" class="id_section_edit oculto" type="number">
                                    <input required type="text" class="form-control" name="documentos[${cantidadDocumentos}][numero]" placeholder="Documento">
                                </div>
                                <div class="col-md-5 col-sm-12 form-group">
                                    <label for="documentos[0][idDocumento]">Tipo</label>
                                        <select required required data-finalpoint="${finalpoint}" class="form-control" name="documentos[${cantidadDocumentos}][idDocumento]" placeholder="tipo de documento">
                                            ${opciones}
                                        </select>
                                </div>
                                <div class="col-md-1 col-sm-1">
                                    <label for="documentos[0][idDocumento]"></label>
                                    <button onclick=" document.getElementById('documento_itm_${cantidadDocumentos}').remove()" class="btn btn btn-danger" type="button">-</button>
                                </div>
                            </div>
                        </div>
                `
            var campo_uno = document.getElementById('itemDocumentos');
            campo_uno.insertAdjacentHTML('beforeend', campo)
            deshabilitar_campo_id_edicion();
        };


        document.getElementById("addDireccion").onclick = function (event) {
            event.preventDefault();
            var cantidadDocumentos = document.getElementsByClassName('item_direccion').length + 1;
            var opciones = document.getElementsByName('idDireccion[0][municipio]')[0].innerHTML;
            var finalpoint = document.getElementsByName('idDireccion[0][municipio]')[0].dataset.finalpoint

            var campo = `
                    <div class="form-group addcolorDireccion direccionesi item_direccion item_clon" id="direccion_${cantidadDocumentos}">
                        <div class="row col-md-12">
                            <div class="col-md-12 col-sm-12">
                                <label for="idDireccion[${cantidadDocumentos}][descripcion]">Descricion</label>
                                <input required name="idDireccion[${cantidadDocumentos}][id]" class="id_section_edit oculto" type="number">
                                <textarea required type="textarea" minlength="10" maxlength="100" class="form-control" name="idDireccion[${cantidadDocumentos}][descripcion]" placeholder="Dirección"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 form-group">
                            <label for="idDireccion[${cantidadDocumentos}][idDocumento]">Municipio</label>
                                <select data-finalpoint="${finalpoint}" required class="form-control" name="idDireccion[${cantidadDocumentos}][municipio]" placeholder="Ingrese el municipio">
                                    ${opciones}
                                </select>
                            <button onclick=" document.getElementById('direccion_${cantidadDocumentos}').remove()" class="btn btn btn-danger" type="button">-</button>
                        </div>
                    </div>
                `
            var campo_uno = document.getElementById('item_direcciones');
            campo_uno.insertAdjacentHTML('beforeend', campo)
            deshabilitar_campo_id_edicion();
        };
        function deshabilitar_campo_id_edicion() {
            if (window.modo == 'PUT') {
                var elementsIDs = document.getElementsByClassName('id_section_edit');
                Array.from(elementsIDs).forEach(function (item) {
                    item.setAttribute('readonly', 'true')
                    item.setAttribute('disabled', 'true')
                    item.classList.add('oculto')
                });
            }
        }

        document.getElementById("verLista").onclick = function (event) {
            document.getElementById('formulario').classList.add('oculto');
            document.getElementById('listado').classList.remove('oculto');
            $("#btnCancelar").trigger("click"); //limpiar los datos si cambia al listado ( cancelar )
            document.getElementById('show').classList.add('oculto');
        }

        document.getElementById("verFormCliente").onclick = function (event) {
            readOnlyDiabledEdit()
            document.getElementById('listado').classList.add('oculto');
            document.getElementById('formulario').classList.remove('oculto');
            document.getElementById('show').classList.add('oculto');
        }

        function llenarFormulario(data) {

            var array_mto = ['correos', 'documentos', 'idDireccion',]
            for (var i = 0; i < array_mto.length; i++) {
                var datos = data[array_mto[i]];
                var key_a = array_mto[i];
                for (var j = 0; j < datos.length - 1; j++) {
                    var idElement = document.getElementsByClassName(key_a + '_mto')[0].id
                    $("#" + idElement).trigger("click"); //renderiza la informacion simulando un click en los botones
                }
            }

            $("#verFormCliente").trigger("click");

            Object.entries(data).forEach(([key, value]) => {
                //En caso de relaciones many to one vamos a preparar el formulario haciendo click para pintar los campos necesarios
                var elemento = document.getElementsByName(key)
                if (typeof elemento[0] != 'undefined') {
                    if (elemento.name == 'fechaNacimiento') {
                        elemento[0].value = 'paarsear la fecha';
                    } if (elemento[0].type == 'select-one') {
                        elemento[0].value = '/' + elemento[0].dataset.finalpoint + '/' + value['id'];
                    } else {
                        elemento[0].value = value;
                    }
                }
            });

            if( typeof data.otrosDocumentos != 'undefined')
            for (var k = 0; k < data.otrosDocumentos.length - 1; k++) {
                $("#addOtrosDocumento").trigger("click"); //renderiza la informacion simulando un click en los botones
            }
            var otros_dock_input = document.getElementsByClassName('documentos_extra_1');
            var otros_dock_input2 = document.getElementsByClassName('documentos_extra_2');
            if( typeof data.otrosDocumentos != 'undefined')
            for (var k = 0; k < data.otrosDocumentos.length; k++) {
                otros_dock_input[k].value = data.otrosDocumentos[k].NUM
                otros_dock_input2[k].value = data.otrosDocumentos[k].TIPO
            }

            // Haste este punto el formulario ya esta preparado para recibir la informacion
            array_mto = ['correos', 'documentos', 'idDireccion',]
            for (var i = 0; i < array_mto.length; i++) {
                var datos = data[array_mto[i]];
                var key_a = array_mto[i];
                for (var j = 0; j < datos.length; j++) {
                    if (key_a == 'idDireccion') {
                        document.getElementsByName(key_a + '[' + j + '][id]')[0].value = datos[j].id;
                        document.getElementsByName(key_a + '[' + j + '][descripcion]')[0].value = datos[j].descripcion; //idDireccion[0][descripcion]
                        var select_mun = document.getElementsByName(key_a + '[' + j + '][municipio]')[0]
                        if (typeof datos[j].municipio != 'undefined') {
                            select_mun.value = '/' + select_mun.dataset.finalpoint + '/' + datos[j].municipio.id; //idDireccion[0][municipio]
                        }
                    } else if (key_a == 'documentos') {
                        document.getElementsByName(key_a + '[' + j + '][id]')[0].value = datos[j].id;//documentos[0][id]
                        document.getElementsByName(key_a + '[' + j + '][numero]')[0].value = datos[j].numero; //documentos[0][numero]
                        var select_documento = document.getElementsByName(key_a + '[' + j + '][idDocumento]')[0]
                        select_documento.value = '/' + select_documento.dataset.finalpoint + '/' + datos[j].idDocumento.id; //documentos[0][idDocumento]

                    } else if (key_a == 'correos') {
                        document.getElementsByName(key_a + '[' + j + '][id]')[0].value = datos[j].id;//correos[0][id]
                        document.getElementsByName(key_a + '[' + j + '][email]')[0].value = datos[j].email; //correos[0][email]
                    }
                }
            }


            document.getElementById('fecha_nacimiento').value = document.getElementById('fecha_nacimiento').value.substring(0,10);
        }

        function llenarFormularioVistaShow(data) {

            Object.entries(data).forEach(([key, value]) => {
                //En caso de relaciones many to one vamos a preparar el formulario haciendo click para pintar los campos necesarios
                var elemento = document.getElementById(key+"_sh")
                if(elemento != null)
                if (typeof elemento != 'undefined' ) {
                    if (key == 'idSexo') {
                        elemento.innerText = value['nombre'];
                    } else {
                        elemento.innerText = value;
                    }
                }
            });

            document.getElementById('fechaNacimiento_sh').innerText = document.getElementById('fechaNacimiento_sh').innerText.substring(0,10);
            
            var array_mto = ['correos', 'documentos', 'idDireccion',]
            for (var i = 0; i < array_mto.length; i++) {
                var datos = data[array_mto[i]];
                var key_a = array_mto[i];
                for (var j = 0; j < datos.length; j++) {
                    if(key_a == "idDireccion"){
                        var contenedor = document.getElementById('show_idDireccion');
                        contenedor.innerHTML += `
                            <div class="col-md-12">
                                <div class="col-md-12 ">
                                    <div class="col-md-12">
                                        <label>Descripción</label>
                                        <label  class="texto">${datos[j].descripcion}</label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <label>Municipio</label>
                                        <label  class="texto">${datos[j].municipio.nombreCompuesto}</label>
                                    </div>
                                </div>
                            </div>
                        `
                    }

                    if(key_a == "documentos"){
                        var contenedor = document.getElementById('show_idDocumentos');
                        contenedor.innerHTML += `
                            <div class="col-md-12">
                                <div class="col-md-12 ">
                                    <div class="col-md-12">
                                        <label>Número</label>
                                        <label  class="texto">${datos[j].numero}</label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <label>Tipo</label>
                                        <label  class="texto">${datos[j].idDocumento.nombre}</label>
                                    </div>
                                </div>
                            </div>
                        `
                    }

                    if(key_a == "correos"){
                        var contenedor = document.getElementById('show_correos');
                        contenedor.innerHTML += `
                            <div class="col-md-12">
                                <div class="col-md-12 ">
                                    <div class="col-md-12">
                                        <label  class="texto">${datos[j].email}</label>
                                    </div>
                                </div>
                            </div>
                        `
                    }

                    
                }

              
            }
            var contenedor = document.getElementById('show_otrosDocumentos');
                if(typeof data.otrosDocumentos != 'undefined')
                for (var k = 0; k < data.otrosDocumentos.length; k++) {
                    console.log( data.otrosDocumentos[k] )
                    contenedor.innerHTML += `
                        <div class="col-md-12">
                            <div class="col-md-12 ">
                                <div class="col-md-12">
                                    <label>Número</label>
                                    <label  class="texto">${data.otrosDocumentos[k].NUM}</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <label>Tipo</label>
                                    <label  class="texto">${data.otrosDocumentos[k].TIPO}</label>
                                </div>
                            </div>
                        </div>
                    `
                }
        }



        

        function crearEventosTabla() {
            var botonesEdit = document.getElementsByClassName("botones_editar");
            Array.from(botonesEdit).forEach((el) =>
                el.addEventListener("click", (event) => {
                    window.modo = 'PUT'
                    window.if = ''
                    window.id = event.srcElement.dataset.id
                    requestData('api/clientes/' + event.srcElement.dataset.id, 'GET', llenarFormulario)
                })
            );
            var botonesVer = document.getElementsByClassName("botones_ver");
            Array.from(botonesVer).forEach((el) =>
                el.addEventListener("click", (event) => {
                    requestData('api/clientes/' + event.srcElement.dataset.id, 'GET', llenarFormularioVistaShow)
                    document.getElementById('show').classList.remove('oculto');
                    document.getElementById('listado').classList.add('oculto');
                })
            );

            var botonesInactivar = document.getElementsByClassName("botones_inactivar");
            Array.from(botonesInactivar).forEach((el) =>
                el.addEventListener("click", (event) => {
                    data= JSON.stringify({"activo": false}); 
                    requestData('api/clientes/' + event.srcElement.dataset.id, 'PUT', function(d){ var tableAjax = $('#example1').DataTable();
                    tableAjax.ajax.reload(null, true); }, data)
                })
            );

            var botonActivar = document.getElementsByClassName("botones_activar");
            Array.from(botonActivar).forEach((el) =>
                el.addEventListener("click", (event) => {
                    data= JSON.stringify({"activo": true}); 
                    requestData('api/clientes/' + event.srcElement.dataset.id, 'PUT', function(d){ var tableAjax = $('#example1').DataTable();
                    tableAjax.ajax.reload(null, true); }, data)
                })
            );

            


        }
        function requestData(finalPoint, method, functionEjecute, data={}) {
            $.ajax({
                url: finalPoint,
                type: method,
                headers: {
                },
                data: data, //transforma los datos en una cadena y se mandan al servidor para que esto los reciva
                contentType: 'application/json',
                success: function (data) {
                    functionEjecute(data)
                },
                error: function (err) {
                    console.log(err)
                    toastr.error('Hubo un error al recibir la informacion: ')
                },
                complete: function (xhr, status) {
                }
            });

        }
        /* para busquedas */

        let campo_buscar_nombre=''
        search.onchange = function (event) {
            campo_buscar_nombre = event.srcElement.value
        };
        /* verificar cambio en los buscadores cada 0.3 segundos */
        
        setInterval(function () {
            var buscar = search.value != campo_buscar_nombre
            campo_buscar_nombre = search.value
            if(buscar){
                cargar_data_page( search.value, 'nombre_o_dui')
            }
        }, 500);


        function cargar_data_page( valor, nombre ) {
            var tableAjax = $('#example1').DataTable();
            var filter = `?${nombre}=${valor}`
            var active_page = parseInt(document.getElementsByClassName('pagination')[0].getElementsByClassName('active')[0].getElementsByTagName('A')[0].innerText)
            tableAjax.ajax.url('/api_v3/cliente/' + active_page + filter).ajax.reload(null, true);
        }


        function readOnlyDiabledEdit() {
            var elementsIDs = document.getElementsByClassName('id_section_edit');
            Array.from(elementsIDs).forEach(function (item) {
                item.setAttribute('readonly', 'true')
                item.setAttribute('disabled', 'true')
                item.classList.add('oculto')
            });
        }
        function no_readOnlyDiabledEdit() {
            var elementsIDs = document.getElementsByClassName('id_section_edit');
            Array.from(elementsIDs).forEach(function (item) {
                item.removeAttribute('readonly', 'true')
                item.removeAttribute('disabled', 'true')
                item.classList.add('oculto')
            });
        }

        function documento_extra() {
            document.getElementById("addOtrosDocumento").onclick = function (event) {
                event.preventDefault();
                console.log(event)

                var cantidad = document.getElementsByClassName('clon_otros_dock').length + 1
                var campo = `
                        <div class="row form-group clon_otros_dock item_clon" id="otros_dock_${cantidad}">
                            <div class="col-md-5 col-sm-5">
                                <input required type="text" class="form-control documentos_extra_1" placeholder="Documento">
                            </div>
                            <div class="col-md-5 col-sm-5">
                                <input required type="text" class="form-control documentos_extra_2" placeholder="Tipo">
                            </div>
                            <div class="col-md-2 col-sm-2">
                                <button class="btn btn-danger" onclick="document.getElementById('otros_dock_${cantidad}').remove()" type="button">-</button>
                            </div>
                        </div>
                    `

                document.getElementById("addOtrosDocumento").parentElement.parentElement.parentElement.insertAdjacentHTML('beforeend', campo)

            };
        }
        documento_extra();

        function obtener_documentos_extra_json() {
            var otros_dock_input = document.getElementsByClassName('documentos_extra_1');
            var otros_dock_input2 = document.getElementsByClassName('documentos_extra_2');
            var json_doc = [];
            for (var k = 0; k < otros_dock_input2.length; k++) {
                json_doc.push({
                    NUM: otros_dock_input[k].value,
                    TIPO: otros_dock_input2[k].value
                })
            }
            return json_doc;
        }

        /* autocompletado */

        window.autoCompleteJS_nombre = new autoComplete({
            selector: "#autoComplete_nombre", //autoComplete_documento
            placeHolder: "Ingreso un nombre o dui, isss, AFP",
            data: {
                src: ['buscando...'],
                cache: false,
            },
            resultItem: {
                highlight: true,
            },
            onSelect: function(e, term, item){
                console.log(e, term, item)
            }
        });

        $.ajax({
            url: 'api_v3/nombres'+'?nombres='+ document.getElementById('autoComplete_nombre').value,//http://127.0.0.1:8000/api_v3/nombres?nombres=alex
            type: 'GET',
            headers: {
            },
            data: {}, //transforma los datos en una cadena y se mandan al servidor para que esto los reciva
            contentType: 'application/json',
            success: function (data) {
                var vector = [];
                Object.entries(data).forEach(([key, value]) => {
                    
                    vector.push(value.nombres);
                    
                }); 
                window.autoCompleteJS_nombre.data.src = vector
            },
            error: function (err) {
                console.log(err)
                toastr.error('Hubo un error al guardar la informacion: ')
            },
            complete: function (xhr, status) {

            }
        });

        // cuando se selecciona una de las opciones del autocmpletador
        document.getElementById("autoComplete_list_1").onclick = function (event) {
            document.getElementById('autoComplete_nombre').value = event.srcElement.innerText
        };

        document.getElementById("descargarCsv").onclick = function (event) {
            requestData(`api_v3/informe?nombre_o_dui=${search.value}`, 'GET', function(data){
                console.log(data)
                let csvContent = "data:text/csv;charset=utf-8,";
                function limpiar(cadena){
                    if( cadena==null) cadena='';
                    cadena = cadena.replace('null', ' ')
                    cadena = cadena.replace('NULL', ' ' )
                    cadena = cadena.replace(',', ' ')
                    cadena = cadena.replace('  ', ' ')
                    return cadena;
                }

                data.forEach(function(rowArray, index) {
                    var row = 
                    `${rowArray.id}, "${limpiar(rowArray.primer_nombre)}" , ${limpiar(rowArray.segundo_nombre)} , ${limpiar(rowArray.primer_apellido)} , ${limpiar(rowArray.segundo_apellido)}, ${limpiar(rowArray.correos)}, ${limpiar(rowArray.direccion)}, ${limpiar(rowArray.dui)}, ${limpiar(rowArray.nit)}, ${limpiar(rowArray.iss)}`

                    //console.log(JSON.parse( rowArray.correos) )

                    csvContent += row + "\r\n";
                });
                var encodedUri = encodeURI(csvContent);
                window.open(encodedUri);
            }, data={})
        };

        document.getElementById("descargarTxt").onclick = function (event) {
            requestData(`api_v3/informe?nombre_o_dui=${search.value}`, 'GET', function(data){
                console.log(data)
                let csvContent = "";
                function limpiar(cadena){
                    if( cadena==null) cadena='';
                    cadena = cadena.replace('null', ' ')
                    cadena = cadena.replace('NULL', ' ' )
                    cadena = cadena.replace(',', ' ')
                    cadena = cadena.replace('  ', ' ')
                    return cadena;
                }

                data.forEach(function(rowArray, index) {
                    var row = 
                    `${rowArray.id}, "${limpiar(rowArray.primer_nombre)}" , ${limpiar(rowArray.segundo_nombre)} , ${limpiar(rowArray.primer_apellido)} , ${limpiar(rowArray.segundo_apellido)}, ${limpiar(rowArray.correos)}, ${limpiar(rowArray.direccion)}, ${limpiar(rowArray.dui)}, ${limpiar(rowArray.nit)}, ${limpiar(rowArray.iss)}`

                    //console.log(JSON.parse( rowArray.correos) )

                    csvContent += row + "\r\n";
                });
                //console.log(csvContent)
                var textToSave = csvContent;
                var hiddenElement = document.createElement('a');
                hiddenElement.href = 'data:attachment/text,' + encodeURI(textToSave);
                hiddenElement.target = '_blank';
                hiddenElement.download = 'reporte_clientes.txt';
                hiddenElement.click();
            }, data={})
        };

        document.getElementById("btnCancelar").onclick = function (event) {
            event.preventDefault();
            limpiar_html_renderizados();
            $("#verLista").trigger("click");
        }
        
    });
</script>
{% endblock %}