{% extends 'base.html.twig' %}

{% block title %}Página Principal{% endblock %}

{% block body %}

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">DataTable with default features</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Documento</th>
                    <th>Direccion</th>
                    <th>Teléfono</th>
                    <th>Acciones</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>Trident</td>
                    <td>Internet
                      Explorer 4.0
                    </td>
                    <td>Win 95+</td>
                    <td> 4</td>
                    <td>X</td>
                  </tr>
                  <tr>
                    <td>Trident</td>
                    <td>Internet
                      Explorer 5.0
                    </td>
                    <td>Win 95+</td>
                    <td>5</td>
                    <td>C</td>
                  </tr>
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>Nombre</th>
                    <th>Documento</th>
                    <th>Direccion</th>
                    <th>Teléfono</th>
                    <th>Acciones</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
        
{% endblock %}

{% block javascripts_inferiones %}
            <!-- jQuery -->
            <script src="../../plugins/jquery/jquery.min.js"></script>
            <!-- Bootstrap 4 -->
            <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
            <!-- DataTables  & Plugins -->
            <script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
            <script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
            <script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
            <script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
            <script src="../../plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
            <script src="../../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
            <script src="../../plugins/jszip/jszip.min.js"></script>
            <script src="../../plugins/pdfmake/pdfmake.min.js"></script>
            <script src="../../plugins/pdfmake/vfs_fonts.js"></script>
            <script src="../../plugins/datatables-buttons/js/buttons.html5.min.js"></script>
            <script src="../../plugins/datatables-buttons/js/buttons.print.min.js"></script>
            <script src="../../plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
            <!-- AdminLTE App -->
            <script src="../../dist/js/adminlte.min.js"></script>
            <!-- AdminLTE for demo purposes -->
            <script src="../../dist/js/demo.js"></script>
            <!-- Page specific script -->
            <script>
            $(function () {
              function indexacion(){
                var tableElements = document.querySelectorAll(".page-link");
                tableElements.forEach(function(element) {
                    element.addEventListener("click", function() {
                        indexEjecute(event);
                    });
                });
              }

              function indexEjecute(event){
                
                var tableElements = document.querySelectorAll(".page-link");
                
                  tableElements.forEach(function(element) {
                    if( element.parentElement.classList.contains('active') ){
                      active_page= parseInt(element.innerText)
                      var tableAjax = $('#example1').DataTable();
                      tableAjax.ajax.url('{{ path('app_api_cliente_v2', {'format': 'json'} ) }}'+`/${active_page}`).ajax.reload(null, false);
                    }
                  });
               
               
              }

                $("#example1").DataTable({
                    "pageLength": 5,
                    "responsive": true, "lengthChange": false, "autoWidth": false,
                    "buttons": ["copy", "csv", "excel", "pdf", "print"],
                    "ajax": {
                        "url": "{{ path('app_api_cliente', {'pagina': 1, 'format': 'json'}) }}",
                        "dataSrc": function ( json ) {
                            var json2={ data:[] };
                            console.log( json.data)
                            Object.entries(json.data).forEach(([key, value]) => {
                              var documento = typeof value.documentos[0] =='undefined'? '': value.documentos[0].numero
                              var direccion = typeof value.idDireccion[0] =='undefined'? '': value.idDireccion[0].descripcion

                                var linea ={
                                  nombre: `${value.primerApellido} ${value.segundoApellido} ${value.primerNombre} ${value.segundoNombre} `,
                                  documento: documento,
                                  direccion: direccion,
                                  telefono: `${value.celular==null? '':value.celular}`,
                                  acciones: `acciones`,
                                }
                                indexacion();
                                json2.data.push(linea);
                            });
                            console.log(json2)
                            return json2.data; //json.data;
                        }
                    } ,
                    "columns": [
                        { "data": "nombre" },
                        { "data": "documento" },
                        { "data": "direccion" },
                        { "data": "telefono" },
                        { "data": "acciones" },
                    ],
                    "drawCallback": function( settings, json ) {
                      indexacion();
                    }
                }).buttons()
                .container()
                .appendTo('#example1_wrapper .col-md-6:eq(0)');



            });
            </script>
        {% endblock %}


